{% extends "layouts/app.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="space-y-6">
  {% include "dashboard/_header.html" %}
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 auto-rows-fr">
    {% include "dashboard/_status-cards.html" %}
  </div>
  <div class="stats-section">
    {% include "dashboard/_network-chart.html" %}
  </div>
</div>
{% endblock %}

{% block js %}
  <script src="{% static 'js/dashboard/core.js' %}"></script>
  <script src="{% static 'js/dashboard/chart.js' %}"></script>
  <script src="{% static 'js/dashboard/api.js' %}"></script>
  <script src="{% static 'js/dashboard/init.js' %}"></script>
{% endblock %}
