services:
  hysteria:
    image: tobyxdd/hysteria
    container_name: hysteria
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - ./hysteria/acme:/acme
      - ./hysteria/hysteria.yaml:/etc/hysteria.yaml
    command: ["server", "-c", "/etc/hysteria.yaml"]

  web-panel:
    build: .
    container_name: hysteria-web-panel
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./hysteria/etc-panel/sqlite:/sqlite
    depends_on:
      - hysteria
volumes:
  acme: