services:
  hysteria:
    image: tobyxdd/hysteria
    container_name: hysteria
    network_mode: "host"
    restart: unless-stopped
    volumes:
      - ./hysteria/acme:/acme
      - ./hysteria/hysteria.yaml:/etc/hysteria.yaml
    depends_on:
      - web_panel
    command: ["server", "-c", "/etc/hysteria.yaml"]

  web_panel:
    build: .
    container_name: hysteria-web-panel
    restart: unless-stopped
    network_mode: "host"
    env_file:
      - .env
    volumes:
      - ./hysteria/etc-panel/sqlite:/hystpanel/sqlite
      - ./hysteria/etc-panel/static:/hystpanel/static

volumes:
  acme: