@layer utilities {
    .nav-link {
        @apply flex items-center gap-3 w-full px-4 py-3 text-gray-400 hover:text-white hover:bg-white/5 rounded-lg transition-all duration-200 font-medium mx-2;
    }
    .nav-link-active {
         @apply bg-indigo-500/15 text-indigo-300 border border-indigo-500/20;
    }
    /* Стеклянный эффект для карточек */
    .glass-card {
        @apply bg-gray-850 border border-white/10 shadow-xl shadow-black/20 backdrop-blur-sm;
    }
}
