{% extends "layouts/app.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="space-y-6">
  {% include 'clients/_header.html' %}
  <div class="glass-card rounded-2xl overflow-hidden">
    {% include 'clients/_table.html' %}
  </div>
  <div>
    {% include 'clients/_create-modal.html' %}
    {% include 'clients/_delete-modal.html' %}
    {% include 'clients/_I18n.html' %}
  </div>
</div>
{% endblock %}

{% block js %}
  <script src="{% static 'js/clients/core.js' %}"></script>
  <script src="{% static 'js/clients/api.js' %}"></script>
  <script src="{% static 'js/clients/ui.js' %}"></script>
  <script src="{% static 'js/clients/clients.js' %}"></script>
{% endblock %}