{% load static i18n %}

<!DOCTYPE html>
<html lang="ru" data-theme="dark">
  <head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/svg+xml" href="{% static 'icons/favicon.svg' %}">

  <title>
    {% block title %}{% trans "Hysteria2 Panel" %}{% endblock %}
  </title>

  <!-- CSS -->
  {% include "includes/fonts.html" %}
  <link rel="stylesheet" href="{% static 'css/tailwind-compiled.css' %}">
  <style>[x-cloak]{ display: none !important; }</style>
  {% block css %}{% endblock %}

  <!-- JS -->
  <script src="{% static 'js/js.cookie.min.js' %}"></script>
  <script>
    function getCsrfToken() {return getCookie('csrftoken');}
  </script>
  <script src="{% static 'js/alpine.min.js' %}"></script>
  <script defer src="{% static 'js/chart.js' %}"></script>
  </head>

  <body class="{% block body_class %}
      bg-gray-900 text-gray-100 font-sans antialiased min-h-screen
      bg-[radial-gradient(ellipse_at_top_right,_var(--tw-gradient-stops))]
      from-gray-900 via-gray-900 to-black
  {% endblock %}">
  {% block body %}{% endblock %}
  {% block js %}{% endblock %}
  </body>
</html>