{% load static i18n %}

<!DOCTYPE html>
<html lang="ru" class="dark">
  <head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>
    {% block title %}{% trans "Hysteria2 Panel" %}{% endblock %}
  </title>

  <!-- CSS -->
  <style type="text/tailwindcss">
    {% include "includes/tailwind-utilities.css" %}
  </style>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  {% block css %}{% endblock %}

  <!-- JS -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="{% static 'js/tailwind-config.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  {% block js %}{% endblock %}
  </head>

  <body class="{% block body_class %}
      bg-gray-900 text-gray-100 font-sans antialiased min-h-screen
      bg-[radial-gradient(ellipse_at_top_right,_var(--tw-gradient-stops))]
      from-gray-900 via-gray-900 to-black
  {% endblock %}">
  {% block body %}{% endblock %}
  {% include "includes/base-scripts.html" %}
  </body>
</html>